<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FrameworkSettings.Framework" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FrameworkSettings.Framework>
            <setting name="DefaultTimeoutSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WebDriverTimeoutSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LocalDriverUrl" serializeAs="String">
                <value>http://localhost:4444/wd/hub</value>
            </setting>
            <setting name="Browser" serializeAs="String">
                <value>Firefox</value>
            </setting>
            <setting name="ActivateStandaloneServer" serializeAs="String">
                <value>False</value>
            </setting>
        </FrameworkSettings.Framework>
    </applicationSettings>
</configuration>